/* CSS Document */
/*CSS file for devices with smaller screens*/
html, body {
   /* height: 40%;
    width: 65%;*/
	font-family: tahoma, helvetica, arial, sans-serif;
	/*font-size: 130%;*/
	text-align: center;
	/*background: url(../images/page_bg.jpg);*/
  
	/*color: #6f6f6f;*/
	/*background-color:#3399CC;*/
	/*background-color:#8b9dc3;*/
}
body {
    position:relative;
    
}
#img1 {
    position: absolute;
    margin: auto; /*make sure it's centered both vertically and horizontally*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
}

th, td {

    text-align: center;
    border: 1px solid #9A9A9A; 
}

td.nobordertable{
   text-align: center;
   border: 0px solid #9A9A9A;
   vertical-align: top;
}

table.outerwrapper{
   text-align: center;	
	}

td.mealportion{

    text-align: center;
    border: 0px solid #9A9A9A;
	vertical-align:top;
	font-size:100%; 
}




td.selectgraph{

    text-align: left;
    border: 0px solid #9A9A9A;

}

td.mealgoalspecification{

	text-align:left;
	border:  1px solid #9A9A9A; 

}

td.foodchart{

    text-align: center;
    border:  1px solid #9A9A9A; 
	/*background-image:url('wellness/images/meals/blank.gif');*/
	    background-color:white;

}

td.graph{

    text-align: center;
    border:  0px solid #9A9A9A; 
	/*background-image:url('http://localhost/wellness/images/meals/blank.gif');*/
	background-color:white;	

}

td.activitycomments{
text-align:left;
border:  0px solid #9A9A9A; 
}

#activitycommentsbox{
align: left;
width: 100%;
height: 100%;;
}

table.graph{

    border: 0px solid #9A9A9A;
    width: 100%;
    height: 100%;
    text-align: center;

}

table.foodchart{

    border: 1px solid #9A9A9A;
    width: 100%;
    height: 100%;
    text-align: center;
	font-size:20%;

}
table.mealportion{
font-size:20%;



}



/*
#interfacetable {
   border: 1px solid #768AAB;
   width: 80%;
   height: 80%;
   
}*/

.main_interface_wrapper{
    border: 1px solid #9A9A9A;
    width: 40%;
    height: 40%;
    text-align: center;

    

	 
}

li:hover {
    cursor: hand;
}

select{
  /* 11px is the break */
  font-size:50%;
}

h1{
	color:#D8D8D8
	}
/*	
.my-footer.ui-bar-a.ui-footer {
	background-color:#8b9dc3;


}*/	
	
/*
input {
  display: inline-block;
  float:right ;
}*/
/*
.datecaptured_activity_class {display:initial;}
.datecaptured_activity2_class {display:none;}
.datecaptured_weight_class {display:initial;}
.datecaptured_meal_class {display:initial;}
*/





